#hero {
  img {
    object-fit: cover;
    padding: 0px 50px;
  }
  .hero {
    display: flex;
    position: relative;
    justify-content: space-between;
    &--nav {
      position: relative;
      background: #b8a9a9;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin-top: -300px;
      h1 {
        position: absolute;
        top: 10px;
        left: 20px;
        font-size: 50px;
      }
    }
    &--nav__right {
      position: relative;
      background: #b8a9a9;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin-top: -300px;

      h1 {
        position: absolute;
        top: 10px;
        left: 20px;
        font-size: 50px;
      }
    }
  }
}
